*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,14,131,1) 44%, rgba(0,212,255,1) 100%);
}

/* home */
.auth-self{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    color: #fff;
}
.basePage{
    background-color: rgb(140, 173, 186);
    width: 40%;
    padding: 4rem;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.btn button{
    background-color: rgb(5, 168, 5);
    border-radius: 7px;
    border: none;
    padding: .8rem 2rem;
    font-size: 1.1rem;
    font-weight: 510;
}
button a{
    text-decoration: none;
    color: #fff;
}
/* patient dashboard */
.doctor-dashboard{
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}
.inner_page{
    background-color: rgb(140, 173, 186);
    width: 60%;
    padding: 4rem;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 15px;
}
.inner_page h1,h2{
    text-align: center;
}
.detail-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}
.img img{
    width: 230px;
    height: 230px;
    border-radius: 12px;
}
.info p{
    font-size: 1.5rem;
}

/* signup */
.total{
    margin-top: 7rem;
}
.signup{
    background-color: rgb(140, 173, 186);
    width: 35%;
    margin: 0 auto;
    padding: 2rem 3rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}


input{
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    line-height: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}
.design{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.design-d{
    display: flex;
    flex-direction: column;
}
.sign{
    text-align: center;
    margin-bottom: .8rem;
}

.btn-signup{
    padding: .65rem 4rem;
    margin-bottom: .5rem;
    background-color: rgb(4, 161, 4);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: 550;
    font-size: large;
  }
  .redirect{
    text-align: center;
  }
  .prof-d{
    display: flex;
    justify-content: start;
  }
  .logout-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
  }
  .sub-mnu-link{
    background-color: red;
    text-decoration: none;
    color: white;
    padding: 1rem 3rem;
    border-radius: 12px;
    font-size: 20px;
  }

/* .sign{
    text-align: center;
    padding: 10px;
}
.signup{
    width: 300px;
    margin: 100px auto;
    padding: 15px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(140, 173, 186);
}

.foram{
    padding: 35px;
    display: inline-block;
    display: flex;
    flex-direction: column;
}

form {
    display: grid;
    gap: 8px;
  }

input{
    display: block;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.btn-signup{
  padding: 10px;
  background: rgb(13,14,14);
  background: linear-gradient(90deg, rgba(13,14,14,1) 0%, rgba(0,0,5,1) 51%, rgba(0,212,255,1) 98%);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create{
    display: block;
    padding:  0 0 30px 38px;  
    align-self: flex-start;
} */

/* login */
/* .log{
    display: flex;
    justify-content: center;
}

.login{
    margin: 100px auto;
    padding: 15px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(140, 173, 186);
}

.head{
    text-align: center;
    padding: 10px;
}

.detail{
    padding: 35px;
    display: inline-block;
    display: flex;
    flex-direction: column;
}

.btn-login{
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(13,14,14);
    background: linear-gradient(90deg, rgba(13,14,14,1) 0%, rgba(0,0,5,1) 51%, rgba(0,212,255,1) 98%);
  } */


/* Home page */

/* .Home{
    width: 500px;
    margin: 100px auto;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(140, 173, 186);
}

.mainHome{
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(88, 153, 179);
}

.btn-home{
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    background: rgb(13,14,14);
    background: linear-gradient(90deg, rgba(13,14,14,1) 0%, rgba(0,0,5,1) 51%, rgba(0,212,255,1) 98%);
} */