{% extends 'base.html' %}
{ % load static % }


{% block body %}


<div class="post-blog">
    <h1 class="post-head">Create Your Post</h1>
    <div class="post-blog-in">
        <form action="{% url 'createPost' %}" method="POST" enctype="multipart/form-data" id="postForm">{% csrf_token %}
            <label for="postTitle">Title:</label>
            <input type="text" id="postTitle" name="postTitle" class="blogContent" value="{{draft.title}}">

            <label for="postImg">Image:</label>
            <input type="file" id="imageUpload" name="imageUpload" class="blogContent" accept="image/*" value="{{draft.image}}">

            <label for="illness">Category:</label>
            <select name="category" id="illness" class="blogContent">
                {% for cat in categories %}
                    {% if  draft.category_id == cat.id %}
                        <option value="{{cat.id}}" selected>{{cat.name}}</option>
                    {% else %}
                        <option value="{{cat.id}}">{{cat.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            

            <label for="summary">Summary:</label>
            <textarea id="summary" name="summary" rows="2" cols="70" width="100%" class="blogContent" value="{{draft.summary}}">{{draft.summary}}</textarea>

            <label for="content">Content:</label>
            <textarea id="content" name="content" rows="4" cols="70" class="blogContent" value="{{draft.content}}">{{draft.content}}</textarea>

            <input type="hidden" name="draft_id" id="draft_id" value="{{draft.id}}">

            <input class="postBlog-btn" type="submit" value="Post">
        </form>
    </div>
</div>

{% endblock %}


{% block js %}

<script>
    $(document).on('change','.blogContent', function(){
         

            var form = $('#postForm');

            $.ajax({
                type: "POST",
                url: '/storeDraft',
                data: form.serialize(), 
                success: function(data)
                {
                    $('#draft_id').val(data['draftId']);
                }
            });

    })
</script>

{% endblock %}