{% extends 'base.html' %}
{% load static %}



{% block body %}

<div class="indexPage">
    <div class="image">
        <img src="{% static 'images/indexImg.webp' %}" alt="">
    </div>
    <div class="punchline"> 
        <div class="punchline-in">
            {% if user.is_authenticated %}
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis blanditiis reprehenderit quas ex quae mollitia!</p>
            {% else %}
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis blanditiis reprehenderit quas ex quae mollitia!</p>
            <a href="{% url 'login' %}">Login / Signup</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}